<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/style.css') }}"
    />

    <script
      type="text/javascript"
      src="//code.jquery.com/jquery-3.7.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js"
    ></script>

    <!-- Script to handle socket.io -->
    <script>
      let socket;
      $(document).ready(function () {
        // The http vs. https is important. Use http for localhost!
        socket = io.connect("http://" + document.domain + ":" + location.port);

        // const interval = setInterval(() => {
        //   socket.emit("send_message", { "text": "aaa" });
        // }, 1000);

        // Message received from server
        socket.on("message_from_server", function (data) {
          let text = data["text"];
          document.getElementById("chat").innerHTML +=
            "Server: " + text + "\n\n";
        });
      });
    </script>

    <title>Document</title>
  </head>
  <body>
    <div class="page-content">
      <div class="content-left">
        <h2>Hệ thống điểm danh sinh viên</h2>
        <img
          src="{{url_for('video_stream_controller.video')}}"
          alt=""
          class="cameraview"
        />
      </div>
      <div class="content-right">
        <h2>Danh sách sinh viên: {{data|length}}</h2>
        <textarea
          id="chat"
          style="
            width: 500px;
            height: 250px;
            font-size: 18px;
            font-family: monospace;
            margin-top: 10px;
          "
        ></textarea>
        <div class="student-list">
          {% for item in data %}
          <div class="card">
            <div class="time">
              <span>
                Ngày 02 tháng 01 năm 2024
                <br />
                <br />
                14:10
              </span>
            </div>
            <div class="info">
              <b>{{item.name}}</b> <i>({{item.id}})</i>
              <br />
              <br />
              <b style="background-color: #28a745">19TCLC_DT1</b>
              <br />
              <br />
              <b style="background-color: #08b7cf">{{item.address}}</b>
            </div>
            <img
              src="{{ url_for('static', filename=item.image) }}"
              alt=""
              class="img-student"
            />
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
